@page "/"

<h1>Hello, User!</h1>

Welcome to my page. I'm learning new technology called Blazor WebAssembly now and this is illustration of my abilities

<SurveyPrompt Title="How is Blazor working for you?" />
